body {
    background-color: black;
    color: white;
}

.footer_Image, .main_text, .main_subtitle, .main_image, .main_title, .navBar_Image{
    text-align: center;
    margin-bottom: 10px;
}

.footer_Image_JPG, .navBar_Image_JPG {
    height: 120px;
}

.card {
    margin-bottom: 15px;
    text-align: center;
}

.card_container, .error_section, .error_image {
    display: flex;
    justify-content: center;
}

.registration_image {
    height: 180px;
}

.register_button {
    margin-bottom: 15px
}
