<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center navBar_Image">
            <img class="navBar_Image_JPG" src="../../public/img/navbar_Image.jpg" alt="NavBar Image">
        </div>
    </div>
</div>