<div class="error_section">
    <h1>ERROR!</h1>
</div>

<div class="error_image">
    <img src="../../public/img/error.png" alt="error">
</div>

<div class="error_section">
    <h2>{{error_description}}</h2>
</div>
