<div>
    <div class="main_title">
        <h1>Logueo de Usuarios</h1>
    </div>

    <div class="main_image">
        <img class="registration_image" src="../../public/img/register_icon.webp" alt="login_image">
    </div>

    <div class="d-flex flex-column align-items-center">
        <p>Para loguearse por favor enviar sus datos por POST...</p>
        <ul>
            <li>
                Correo Electrónico <i>("email")</i>
            </li>
            
            <li>
                Contraseña <i>("password")</i>
            </li>
        </ul>
        <p style="text-decoration: underline;">¿Aún no tienes usuario?</p>
        <button class="register_button"><a href="http://localhost:8080/sessions/register">REGÍSTRATE</a></button>
        <h3>CONSEJO: No pierdas tiempo, ingresa con <a href="http://localhost:8080/sessions/github">GITHUB</a></h3>
    </div>
</div>