<div>
    <div class="main_title">
        <h1>Registro de Usuarios</h1>
    </div>

    <div class="main_image">
        <img class="registration_image" src="../../public/img/register_icon.webp" alt="registration_image">
    </div>

    <div class="d-flex flex-column align-items-center">
        <p>Para registrarse por favor enviar sus datos por POST...</p>
        <ul>
            <li>
                Nombre <i>("first_name")</i>
            </li>
            
            <li>
                Apellido <i>("last_name")</i>
            </li>

            <li>
                Edad <i>("age")</i>
            </li>

            <li>
                Email <i>("email")</i>
            </li>

            <li>
                Contraseña <i>("password")</i>
            </li>
        </ul>
        <h3>CONSEJO: No pierdas tiempo, ingresa con <a href="http://localhost:8080/sessions/github">GITHUB</a></h3>
    </div>
</div>